/* THIS IS THE CSS PAGE FOR THE 
    ABOUT US.HTML  */

    *{

        font-size: 20px;
        line-height: 1.5;
        color: #8CA0A1;
        font-family:'Poppins', 'Times', 'sans-serif';
        color:#8CA0A1 ;
        
    }
    main{
        text-align: center;
    }
    nav{
        background-color: #C5E7E7;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #C5E7E7;
        }
    nav ul{
        list-style-type: none;
        text-align:  right;
    }
    nav li{
        display: inline-block;
        padding: 25px 25px 30px 30px;
    }
    nav li:hover {
        background-color: #8CA0A1;
        color: white;
    }
    nav a:hover {
        color: white;
    }
    nav a{
        text-decoration: none;
        color: grey;
        
        
    
    }
    header img {
        float: left;
        
    }
    #header_img{
        background-image: url(../Images/puppies_2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 880px;
        
    }
    h1{
        font-size: 96px;
        position: absolute;
        top: 650px;
        color: white;

        
    }
    h2{
        font-size: 46px;

    }
    .row{
        width: 600px;
        display: inline-block;
        box-sizing:border-box;
        vertical-align:middle;
        text-align:justify;
        padding-left:10px ;
        padding-right:10px ;
        top: 100px;
        
        
        
    }
    .images_corners_right{
        display: flex;
        float: left;
        overflow: hidden;
        border-radius: 25px;
        padding-left: 200px;
        padding-top: 100px;

    }
    .Round_tops{
        overflow: hidden;
        border-radius: 25px;
    }
    .Round_tops_our_team{
        overflow: hidden;
        border-radius: 25px;
    }
    .images_corners_left{
        display: flex;
        float: right;
        overflow: hidden;
        border-radius: 25px;
        padding-right: 200px;
        padding-top: 100px;
    }
    .Our_team{
    width: 1200px;
    padding-left: 120px;
    margin-right: 220px;
    }
    footer{
        background-color: #0B334A;
    }
    .footer_badges{
        display: inline-block;
    }
    #footer_images{
        text-align: right;
    }
    footer h2{
        text-align: center;
        font-size: 46px;
        color: white;
    }
    .contact-info{
        top: 800px;
    }
    
.botton{
    text-align: center;
}
    .click{
        background-color: #D18A71;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
        font-family:'Poppins';
        }
