/* THIS IS THE CSS PAGE FOR THE 
    ABOUT US.HTML  */

    *{
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 1.5;
        color: #8CA0A1;
        
    }
    nav{
        background-color: #C5E7E7;
    }
    nav ul{
        list-style-type: none;
        text-align:  right;
    }
    nav li{
        display: inline-block;
        padding: 25px 25px 30px 30px;
    }
    nav li:hover {
        background-color: #8CA0A1;
        color: white;
    }
    nav a:hover {
        color: white;
    }
    nav a{
        text-decoration: none;
        color: grey;
        
    
    }
    header img {
        float: left;
        
    }
    #header_img{
        background-image: url(../Images/puppies_2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 880px;
        
    }
    h1{
        font-size: 56px;
        position: absolute;
        top: 950px;
        color: white;

        
    }
    .row{
        width: 400px;
        display: inline-block;
        padding: 25px;
        box-sizing:border-box;
        vertical-align: center;
        text-align: center;
    }
    footer{
        background-color: #0B334A;
    }
    .footer_badges{
        display: inline-block;
    }
    #footer_images{
        text-align: right;
    }
    footer h2{
        text-align: center;
    }
    .contact-info{
        top: 800px;
    }