body{
    font-family:'Poppins', 'Times', 'sans-serif';
    color:#8CA0A1 ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C5E7E7;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #8CA0A1 (blue) on hover */
  li a:hover {
    background-color: #8CA0A1;
  }
.header{
  max-width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}
.center {
  position: absolute;
  bottom: 80px;
  left: 16px;
  font-size: 56px;
}
.volunteer{
display: flex;
align-items: center;
}
.support-img{
  float: right;
  border-radius: 20px;
  margin-left: 20px;
  max-width: 100%;
  width: 400px;
  height: 400px;
}
.info{
  float: left;
  padding-right: 50px;
}
.foster{
  display: flex;
  
}
.foster-image{
  float: left;
  border-radius: 20px;
  margin-right: 20px;
  max-width: 100%;
  width: 300px;
  height: 400px;
}
.foster-info{
float: right;
text-align: right;
}
.donate{
  padding-top: 60px;
}
.donate-image{
  max-width: 100%;
  border-radius: 20px;
}
.footer{
  background-color: #0B334A;
}